# Courts and Rinks

### Import dependencies

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Read in data

In [2]:
data = pd.read_csv('data/courts-rinks.csv')
data.head()

,_id,id,name,type,park,location,surface_material,grandstand,inactive,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,1,1592343416,Allegheny Commons Basketball Court 1,Basketball (Full),Allegheny Commons,NaN,NaN,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.454443,-80.008104
1,2,1365248699,Allegheny Commons Park Tennis Court 1,Tennis,Allegheny Commons,NaN,Asphalt,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.452400,-80.012531
2,3,1757180821,Allegheny Commons Park Tennis Court 2,Tennis,Allegheny Commons,NaN,Asphalt,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.452238,-80.012150
3,4,744303307,Allegheny Commons Park Tennis Court 3,Tennis,Allegheny Commons,NaN,Asphalt,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.452075,-80.011767
4,5,1157777481,Alton Park Basketball Court 1,Basketball (Half),Alton Park,NaN,Asphalt,0,f,Beechview,4,19,42003191600,5,19,6,4-28,40.414152,-80.022305

### Isolate potentially useful data

In [3]:
data = data[['type', 'park', 'neighborhood']]
data.head()

                type               park      neighborhood
0  Basketball (Full)  Allegheny Commons  Allegheny Center
1             Tennis  Allegheny Commons  Allegheny Center
2             Tennis  Allegheny Commons  Allegheny Center
3             Tennis  Allegheny Commons  Allegheny Center
4  Basketball (Half)         Alton Park         Beechview